<div id="umgebung">
    <div id="content">
        <div class="background"></div>
        <mat-form-field class="address-field" appearance="outline">
            <mat-label>Adresse suchen</mat-label>
            <input matInput type="text">
            <span class="suffix" matSuffix>
					<mat-icon>near_me</mat-icon>
					<mat-icon class="last-suffix">my_location</mat-icon>
				</span>
        </mat-form-field>
        <div id="bubbles">
            <mat-button-toggle-group class="mat-buttons" name="locationType" multiple>
                <mat-button-toggle mat-flat-button type="submit">
                    <fa-icon [icon]="faShoppingBag"></fa-icon>Supermärkte</mat-button-toggle>
                <mat-button-toggle mat-flat-button type="submit">
                    <fa-icon [icon]="faUtensils"></fa-icon>Restaurants</mat-button-toggle>
                <mat-button-toggle mat-flat-button type="submit">
                    <fa-icon [icon]="faBus"></fa-icon>Bushaltestellen</mat-button-toggle>
                <mat-button-toggle mat-flat-button type="submit">
                    <fa-icon [icon]="faCar"></fa-icon>CarSharing</mat-button-toggle>
                <mat-button-toggle mat-flat-button type="submit">
                    <fa-icon [icon]="faBolt"></fa-icon>E-Scooter</mat-button-toggle>
                <mat-button-toggle mat-flat-button type="submit">
                    <fa-icon [icon]="faBolt"></fa-icon>E-Bikes</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <mat-card>
        <div class="envCards">
            <div class="outer">
                <div class="inner">
                    <p>Der nächste <b>Supermarkt</b><br> ist <b>300 m</b> entfernt.</p>
                </div>
            </div>
            <div class="outer">
                <div class="inner">
                    <p>Das nächste <b>Restaurant</b><br> ist <b>650 m</b> entfernt.</p>
                </div>
            </div>
            <div class="outer">
                <div class="inner">
                    <p>Der nächste <b>CarSharing-Platz</b><br> ist <b>200 m</b> entfernt.</p>
                </div>
            </div>
            <div class="outer">
                <div class="inner">
                    <p>Die nächste <b>Bushaltestelle</b><br> ist <b>100 m</b> entfernt.</p>
                </div>
            </div>
            <div class="outer">
                <div class="inner">
                    <p>Der nächste <b>E-Scooter</b><br> ist <b>900 m</b> entfernt.</p>
                </div>
            </div>
            <div class="outer">
                <div class="inner">
                    <p>Das nächste <b>E-Fahrrad</b><br> ist <b>1.2 km</b> entfernt.</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>