<div id="feedback">
    <h1>Mein Feedback</h1>
    <mat-card class="first">
        <p>Neben der individuellen Auswertung deiner Streckendaten, würden wir deine Daten gerne für die Verbesserung und Aufwertung des Bamberger Verkehrsnetzes nutzen. </p>
        <p> Um aus deinen Daten unter anderem neue Bushaltestellplätze, Parkplätze für Car-Sharing-Fahrzeuge oder Sammelplätze für E-Bikes ableiten zu können, bitten wir dich um die einmalige Zustimmung zur pseudonymisierten Weiterleitung deiner Daten.
            <p>Hilf aktiv mit Bamberg ein Stück mehr autofrei zu machen!</p>
            <mat-checkbox>Hiermit willige ich ein, dass meine Daten pseudonymisiert weitergeleitet werden</mat-checkbox><br>
            <button mat-flat-button type="submit">Speichern und Weiterleiten</button>
    </mat-card>
    <mat-card>
        <p>Möchtest du uns sonst noch etwas mitteilen?</p>
        <p>Hier ist Platz für Wünsche, Anregungen und alle sonstigen Anliegen bezüglich des Mobilitätsberaters:
        </p>
        <mat-form-field appearance="fill">
            <textarea matInput></textarea>
        </mat-form-field><br>
        <button mat-flat-button type="submit">Absenden</button>
    </mat-card>
</div>